.grid-container {
    outline: none;
    width: auto;
    height: auto;
    margin-block: 0rem 6rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 40px 80px 6px 50px 450px auto auto auto auto;
    grid-row-gap:2rem;
    grid-column-gap: 1rem;
    grid-auto-rows:minmax(100px, auto);
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    justify-content: space-between;

  }
  .grid-container > div {
    outline: none;}

    [aria-current="page"] {
      color:rgb(255, 150, 4) ;
    }
    

.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-color: #333;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	display: none;
	z-index: 9999; /* Falls du sicherstellen möchtest, dass der Pfeil über anderen Inhalten erscheint */
  }
  
  .scroll-to-top .fas {
	font-size: 22px;
	padding-top: 8px;
  }
  
  .scroll-to-top:hover {
	background-color: #555;
	cursor: pointer;
  }

#menue{
  background:transparent; 
  grid-column-start:1; 
  grid-column-end:9; 
  grid-row-start:1; 
  grid-row-end:2; 
  z-index: 9999999;
  font-size:1.2rem;
  
}

ul {
  display: inline;
	list-style-type: none;
	padding: 0px;
	overflow: hidden;
	background-color: transparent;
  font-size:1.2rem;
  }
  
li {
	float: left;
  margin-right:0px;
  margin-left:20px;
  font-size: 1.2rem;
  }
  
li a, .dropbtn {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 19px 14px;
	text-decoration: none;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-weight: 700;
  letter-spacing: +0.06em;
  font-size: 1.2rem;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: transparent;
	color: rgb(255, 150, 4);
  }
  
.dropbtn {
  color:rgb(255, 150, 4) ;
}
   li.dropdown {
	display: inline-block;
  font-size: clamp(0.6rem,1.2vw,2rem);
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	min-width: 160px;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	z-index: 100000;
  font-size: 1.2rem;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {background-color: transparent;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  #menue {
    color: black;
    text-decoration: none;
  }
  a:hover {color: rgb(255, 150, 4)}

  a.Foto {
    color: rgb(255, 150, 4)
  }

  .Lena {
      grid-column-start:8; 
      grid-column-end:9; 
      grid-row-start:1; 
      grid-row-end:2; 
      display:inline flex;
  
      }
    
  .Lena img {
    max-width: 110%;
    max-height: 110%;
    margin-top: 20px;
    margin-left: -30px
;
 
  }

.Titel{
  grid-column-start:4; 
  grid-column-end:6; 
  grid-row-start:2; 
  grid-row-end:3;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: +0.06em;
  font-size: clamp(0.8rem,1.5vw,1.8rem);
} 

.trennlinie1 {
display:flex;
border-bottom: 3px solid #000;
grid-column-start: 4;
grid-column-end: 6;
grid-row-start:3; 
grid-row-end:4;
justify-self: center;
text-align: center;
align-items: center;
width: 6rem;
}

#Untertitel {
  background:transparent; 
  grid-column-start:2; 
  grid-column-end:8; 
  grid-row-start:4; 
  grid-row-end:5;
  justify-self: center; 
  text-align: center;
}

#Untertitel li {
  margin-right:5px;
  margin-left:5px;
  text-align: center;
} 

.Titelbild {
  grid-column-start:2; 
  grid-column-end:8; 
  grid-row-start:5; 
  grid-row-end:6; 
  overflow: hidden;
  justify-content: center;
  display: inline-flex;
	flex-direction: column;
}

.Titelbild img {
  width:150%;
  height:auto;

}

.Bild1,
.Bild2,
.Bild3,
.Bild4,
.Bild5,
.Bild6 {
  position: relative;
  overflow: hidden; 
  cursor: pointer;

}

.title {
  height: 100%;
  width: auto;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  justify-content: center;
  overflow: hidden;
  visibility: hidden; /* Titel standardmäßig verstecken */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Zeige den Titel, wenn der Cursor über das Bild schwebt */
.Bild1:hover .title,
.Bild2:hover .title,
.Bild3:hover .title,
.Bild4:hover .title,
.Bild5:hover .title,
.Bild6:hover .title {
  visibility: visible;
  opacity: 1;
}

.title h4{
  color: black;
  padding: relative;
  font-weight: 700;
  font-size: 1.5em;
  display: flex; 
  margin: auto;
  
}

.Bild1{
  background-image: none;
  grid-column-start:2; 
  grid-column-end:4; 
  grid-row-start:6; 
  grid-row-end:7; 
  text-align: center;
  max-width: 100%; 
  max-height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.Portfolio1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Bild2 {
  background: none; 
  grid-column-start:4; 
  grid-column-end:6; 
  grid-row-start:6; 
  grid-row-end:7; 
  text-align: center;
  max-width: 100%; 
  max-height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.Portfolio2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Bild3{
  background:none; 
  grid-column-start:6; 
  grid-column-end:8; 
  grid-row-start:6; 
  grid-row-end:7; 
  text-align: center;
  max-width: 100%; 
  max-height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;}

  .Portfolio3{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Bild4{
    background:none; 
    grid-column-start:2; 
    grid-column-end:4; 
    grid-row-start:7; 
    grid-row-end:8; 
    text-align: center;
    max-width: 100%; 
    max-height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;}
  
    .Portfolio4{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .Bild5{
      background:none; 
      grid-column-start:4; 
      grid-column-end:6; 
      grid-row-start:7; 
      grid-row-end:8; 
      text-align: center;
      max-width: 100%; 
      max-height: 100%; 
      display: flex;
      justify-content: center;
      align-items: center;}
    
      .Portfolio5{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .Bild6 {
        background:none; 
        grid-column-start:6; 
        grid-column-end:8; 
        grid-row-start:7; 
        grid-row-end:8; 
        text-align: center;
        max-width: 100%; 
        max-height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;}
      
        .Portfolio6{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .Merci {
          background:transparent; 
          grid-column-start:4; 
          grid-column-end:6; 
          grid-row-start:8; 
          grid-row-end:9;
          ;
        }
          
        .herz {
          display: flex; 
          margin: auto;
          width:50px;
          height: 50px;
          justify-content: center;
          text-align: center;
          font-size: 20px;
          color: black;
        
        
        }
        h3 {
          font-family: Century Gothic, Arial, Helvetica, sans-serif;
          font-size: 13pt;
          color: black;
          font-weight: 700;
          text-align: center;
          justify-self: center;
        }

     
     @media screen and (max-width:820px) {

      #menue {
        display:none
      }

      
      ul {
        font-size:1rem;
        }
        
      li {
        font-size: 1rem;
        }
        
      li a, .dropbtn {
        font-size: 1rem;
        }
        .Lena {
          grid-column-start:3; 
          grid-column-end:7; 
          display:inline flex;
          width: 85%;
          height: 85%;
          justify-self: center; 
          text-align: center;
        }
    
          .Lena img {
            max-width: 85%;
            max-height: 85%;

            justify-self: center; 
            text-align: center;
            margin-left: 0px;
          }
         

      #Untertitel {
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:4; 
        grid-row-end:5;

      }

      .Titelbild {
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:5; 
        grid-row-end:6; 
  
      }
      .Bild1{
        grid-column-start:1; 
        grid-column-end:5; 
        grid-row-start:6; 
        grid-row-end:7; }
      

      .Bild2 {
        grid-column-start:5; 
        grid-column-end:9; 
        grid-row-start:6; 
        grid-row-end:7; }

      .Bild3{
        grid-column-start:1; 
        grid-column-end:5; 
        grid-row-start:7; 
        grid-row-end:8; }
      
        .Portfolio3{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
        .Bild4{
          grid-column-start:5; 
          grid-column-end:9; 
          grid-row-start:7; 
          grid-row-end:8; }

          .Bild5{
            grid-column-start:1; 
            grid-column-end:5; 
            grid-row-start:8; 
            grid-row-end:9; }
          
      
            .Bild6 {
              grid-column-start:5; 
              grid-column-end:9; 
              grid-row-start:8; 
              grid-row-end:9; }
            

              .Merci {
                grid-column-start:3; 
                grid-column-end:7; 
                grid-row-start:9; 
                grid-row-end:10;}
      }

     @media screen and (max-width:620px){

      .Lena {
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:1; 
        grid-row-end:2; 
        display:inline flex;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-items: center;
        margin-left: 0px;
      }
        .Lena img {
          max-width: 100%;
          max-height: 100%;
          justify-self: center;
      
       
        }



      .Titelbild {
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:5; 
        grid-row-end:6; 
      }
      .Bild1{
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:6; 
        grid-row-end:7; 
      }
      
      .Bild2 {
        background: none; 
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:7; 
        grid-row-end:8;  
      }


      .Bild3{
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:8; 
        grid-row-end:9; 
      }
      
      .Bild4{ 
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:9; 
        grid-row-end:10; 
        }
  
      .Bild5{
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:10; 
        grid-row-end:11; 
      }
          
    
      
      .Bild6 {
        grid-column-start:1; 
        grid-column-end:9; 
        grid-row-start:11; 
        grid-row-end:12; 
        }
          

              .Merci {
                background:transparent; 
                grid-column-start:2; 
                grid-column-end:8; 
                grid-row-start:12; 
                grid-row-end:13;
                
              }
              
     }